<!DOCTYPE html>
<html>
<head>
	<title> Belajar Vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
	form{
		border: 1px solid #ddd;
		padding: 5px;
		width:225px;
		background: #efefef;
	}
	label{
		display: block;
		margin-top: 5px;
	}
	input, textarea, select, option{
		min-width: 200px;
	}
	</style>
	
		
</head>
<body>


	<div id="app">
	
		<form @submit="submitForm($event)" action="http://example.com/add-product" method="post">
		<label> Title:</label>
		<input type="text" v-model="title"/>
		
		<label>Description:</label>
		<textarea v-model="description"></textarea>
		
		<label>Authors:</label>
		<input type="text" v-model="authors">
		
		<label>Price</label>
		<input type="number" v-model.number="price">
		
		<label>Categories:</label>
		<select v-model="categories" multiple>
			<option v-for="option in options" :value="option.value">
			{{ option.text }}
			</option>
		</select>
		<label></label>
		<input type="submit" value="Submit">
			
		</form>
	</div>
	
	<script type="text/javascript">
	Vue.config.silent = true
	var vm = new Vue({
		el: '#app',
		data: {
			title: '',
			description: '',
			authors: '',
			price: 0,
			categories:[],
			options: [
			{text: 'Graphics Programing', value: '01'},
			{text: 'Mobile Applications Development', value: '02'},
			{text:  'Virtual and Augmented Reality', value: '03'}
			]
			},
			methods:{
				submitForm(event){
					console.log(event)
					alert('Terimakasih!')
					event.preventDefault()
					}
					}
			
		})
		
		
	
	</script>
	</body>
	</html>
	